.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
@@font-face {
  font-family: 'Avenir';
  src: local('Avenir'),
  local('Avenir')
  url('fonts/AvenirNextLTPro-Regular.otf')
      format('opentype')
}

div {
  display: block;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #97998b;
}

.header2 {
  height: 100px;
  width: 100%;
  background-color: #97998b;
}

.main {
  margin: auto;
  width: 100%;
  height: 700px;
}

.box {
  margin: auto;
  border: solid 2px black;
  height: 250px;
  width: 700px;
  background-color: #cdcecb;
  padding: 10px;
}

.small {
  margin: auto;
  width: 700px;
  height: 20px;
  justify-content: left;
  padding-bottom: 100px;
  margin-top: 20px;
}

.section-left {
  height: 600px;
  width: 50%;
  text-align: center;
}

.section-right {
  height: 600px;
  width: 50%;
  background-image: url("resources/fadedTrack.jpg");
  background-size: 750px 870px;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  flex-direction: column;
}

.scroll {
  flex-wrap: nowrap;
  height: 90px;
  width: 100%;
  overflow: scroll;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

img {
  height: 150px;
}

img-2 {
  height: 80px;
  padding: 10px
}

.covers {
  height: 150px;
  width: 150px;
  border: solid 1px black;
  margin: 20px;
}

.footer {
  height: 60px;
  width: 100%;
  background-color: #797c67;
}

p {
  font-family: 'Avenir';
  font-size: 1em;
  text-align: left;
  color: white;
  padding: 5px;
  padding-left: 20px;
}

h1 {
  font-family: 'Avenir';
  font-size: 3em;
  text-align: center;
  color: purple;
  margin-top: 250px;
}

h2 {
  font-family: 'Avenir';
  font-size: 2em;
  text-align: left;
  color: white;
  padding-left: 20px;
  padding-top: 30px;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button3 {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
